.relative iframe{
    height:70vh;
    width: 85%;
    margin-left: 5.6rem;
    margin-top: 2rem;
}
.relative{
text-align: center;
}
.main{
    /* height: 130vh; */
    background-color: #efefef;
}
.content-ins{
    transform: translateY(700px);
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }
.header-course{
    z-index: 1000;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .sidebar {
      width: 100%; 
      position: relative; 
    }
  
    .top-navbar {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .top-navbar button {
      margin-bottom: 0.5rem; 
      width: 100%; 
    }
    .main{
        height: 140vh;
    }
  
    h2 {
      font-size: 2rem; 
    }
  }
  
  @media (max-width: 640px) {
    body{
        font-size: 70%;
    }
    h2 {
      font-size: 1.5rem; 
      text-align: center; 
    }
  }