.container .course{
    margin-top: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    grid-template-rows:  1fr 1fr 1fr ;
    column-gap: 100px;
    row-gap: 250px;

}

.container .course h1{
    grid-column: 1/-1;
    color:#5a7da2;
    text-shadow: 2px 2px#98b8db;
    font-size: 50px;
}



.container .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-radius: 24px;
    line-height: 1.6;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: -300px;
    margin-bottom: 150px;
    margin-left: 10px;
    text-align: left;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #6b95c1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
}
  
.content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom; 
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
} 
  
.content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.content svg {
    width: 48px;
    height: 48px;
}
  
.content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  

.content .para b{
    color:#ffffff;
    font-weight: 700;
    font-size: 25px;
}
.content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.content .link:hover {
    text-decoration: underline;
 }
  
.card:hover {
    transform: translate(0px, -16px);
    filter: drop-shadow(0 5px 5px #ffffff);
}
  
.card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
}
  

.card .card1{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 20px;
}


